@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 1rem;
    text-align: left;
    color: #cdcfd5;
}

#background-wrap {
  background: linear-gradient(#4d6dae, #3243ae);
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */
@keyframes animateCloud {
  0% {
    margin-left: -1000px;
  }
  100% {
    margin-left: 100%;
  }
}

/* ANIMATIONS */
.x1 {
  animation: animateCloud 35s linear infinite;
  transform: scale(0.65);
}

.x2 {
  animation: animateCloud 20s linear infinite;
  transform: scale(0.3);
}

.x3 {
  animation: animateCloud 30s linear infinite;
  transform: scale(0.5);
}

.x4 {
  animation: animateCloud 18s linear infinite;
  transform: scale(0.4);
}

.x5 {
  animation: animateCloud 25s linear infinite;
  transform: scale(0.55);
}

.x6 {
  animation: animateCloud 28s linear infinite;
  transform: scale(0.34);
}

.x7 {
  animation: animateCloud 16s linear infinite;
  transform: scale(0.55);
}

.x8 {
  animation: animateCloud 13s linear infinite;
  transform: scale(0.32);
}

/* OBJECTS */

.cloud {
  background: #fff;
  background: linear-gradient(top, #fff 5%, #f1f1f1 100%);

  border-radius: 100px;

  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}

.center-all {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: center !important;
}

.content {
    width: 100%;
    max-width: 655px;
    padding: 40px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
}

.content h1 {
    font-weight: 600;
    font-size: 36px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
}

.content h2 {
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.4;
    font-size: 22px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    margin-bottom: 0;
}

.image-portrait {
    border-radius: 5000px;
    border: 8px solid rgba(230, 230, 230, 0.2);
    max-width: 250px;
    margin: 0 auto;
}

.links {
    margin: 0;
    padding: 0;
}

.links:after {
    content: '';
    clear: both;
}

.links li {
    list-style: none;
    padding: 0 5px;
    display: inline-flex;
}

.links li a {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-decoration: none;
    color: #fafafa;
    padding: 10px 15px;
    line-height: 28px;
    margin-top: 20px;
}

.links a:hover {
  background: rgba(255, 255, 255, 0.3);
}

.links .action a {
    border: 1px #3f59ae solid;
    background: #3f59ae;
    font-weight: bold;
}

.links .action a:hover {
  background: #3f68bd;
}

.links i {
    font-size: 20px;
}

@media only screen and (max-width: 654px) {
    .content {
        border-radius: 0;
    }
}